/*=========================== body ==========================*/

body {
	padding: 0;
	margin: 0;
	background-color: #DAC4F7;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 20px;
}





/*=========================== header ===========================*/

header {
	text-align: center;
	background: #D6F6DD;
}


/*header h3 {
	display: inline;

}

header h3 a {
	text-decoration: none;
}

header h3 a:hover {
	text-decoration: none;
}

header img {
	height: 38.25px;
	width: 175.5px;
}

a {
  text-decoration: none;
}
*/



header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D6F6DD;
  height: 50px;
  margin-left: 23%;
}

header li {
  float: left;
  margin: 0 auto;
  height: 50px;
}

header li a {
  display: inline-block;
  text-align: center;

  text-decoration: none;
}

header h3 a {
  padding: 14px 15px;
}
header h3 a:hover {
  background-color: #AFEDBD;
}

header img {
  height: 38.25px;
  width: 175.5px;
}

header h3 {
  margin-top: 0;
}



/*=========================== main-content ===========================*/

.main-content {

	background: #DAC4F7;
}

/*=========================== tekstuele informatie ===========================*/
.tekstvak {
  text-align: center;
}

/*=========================== slides ===========================*/
.mySlides {
  display:none
}

/*=========================== Slideshow container ===========================*/
.reclame-slider {
  max-width: 1024px;
  max-height: 576px;
  position: relative;
  margin: auto;
}

.mySlides img {
  width: 1024px;
  height: 576px;
}

/*=========================== Next & previous buttons ===========================*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/*=========================== Position the "next button" to the right ===========================*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*=========================== On hover, add a black background color with a little bit see-through ===========================*/
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/*=========================== Caption text ===========================*/
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/*=========================== Number text (1/3 etc) ===========================*/
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*=========================== The dots/bullets/indicators ===========================*/
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*=========================== Fading animation ===========================*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*=========================== On smaller screens, decrease text size ===========================*/
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.beste-producten {
	width: 1000px;
	background: #F4989C;
	text-align: center;
	margin: 0 auto;
}

/*=========================== desktops ===========================*/

.main-desktops {
	width: 990px;
	text-align: center;
	margin: 0 auto;
}

.main-desktops h3 {
	text-align: left;
}


/*=========================== laptops ===========================*/

.main-laptops {
	width: 990px;
	text-align: center;
	margin: 0 auto;
}

.main-laptops h3 {
	text-align: left;
}


/*=========================== products ===========================*/
.main-content .product-list {
  text-align: center;
}

.products-list {
  list-style-type: none;
  width: 800px;
  background: #ACECF7;
  margin: 0 auto;
  /*display: inline-block;*/
  text-align: center;
} 

.products-list li {
    display: inline-block;
    width: 800px;
    margin: 10px;
}

.products-list img {
  float: left;
}

.products-list h3 {
  display: inline-block;
  float: left;
}

.products-list h1 {
  text-align: left;
  margin: 10px;
  margin-top: 0;
}

.product-lists li h4 {
  width: 400px;
  margin-right: 0;
  margin-left: auto;
}

/*=========================== product ===========================*/

.productpagina {
  background: #ACECF7;
  width: 800px;
  margin: 0 auto;

}

.koop-knop {
  position:absolute;top:100px ;right: 600px;;
}

.productpagina .koop-knop a {
  text-decoration: none;
}

.productpagina .koop-knop a:hover {
  text-decoration: none;
  background-color: #54C6DA;
}

/*=========================== winkelwagen ===========================*/
.main-winkelwagen {
  width: 800px;
  margin: 0 auto;
  margin-top: 10px;
}

.main-winkelwagen h1 {
  text-align: center;
  margin: 0 auto;
}

.main-winkelwagen p {
  text-align: center;
}

.main-winkelwagen h2 {
  text-align: right;  
}

.main-winkelwagen img {
  text-align: center;  
}

/*=========================== footer ===========================*/

footer {
	background-color: #EBD2B4;
  max-width: 1903px;
}
/*=========================== foot top ===========================*/

.foot-top
{
    margin: 5px auto;
    width: 100%;
    text-align: center;
    background-color: #EBD2B4;

    

    padding: 0;
    margin: 0;
    list-style: none;
      
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
      
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    font-size: 8px;
}

.foot-top, ul, menu, dir {
	padding-left: 0;
}

.foot-top a:-webkit-any-link {
	text-decoration: none;

}

.foot-top a:-webkit-any-link:hover {
	
}


footer ul {
	list-style-type: none;
}


.over-pc4u {
  padding: 5px;
  width: 30%;
  margin-top: 0px;
  
  line-height: 50px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.producten {
  padding: 5px;
  width: 30%;
  margin-top: 0px;
  
  line-height: 50px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.service {
	padding: 5px;
  width: 30%;
  margin-top: 0px;
  
  line-height: 50px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

/*=========================== foot bottom ===========================*/

.foot-bottom {
	margin: 5px auto;
    width: 100%;
    text-align: center;
    background-color: #EBD2B4;


    padding: 0;
    margin: 0;
    list-style: none;
      
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
      
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    font-size: 8px;
}

.winkel {
	padding: 5px;
  width: 47%;
  margin-top: 0px;
  
  line-height: 50px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

iframe {
	border: 2px solid #DAC4F7

}

.beschikbaarheid {
	padding: 5px;
  width: 47%;
  margin-top: 0px;
  
  line-height: 50px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}